[Desktop Entry]
Encoding=UTF-8
Name=Librecoin
Comment=Librecoin P2P Cryptocurrency
Comment[fr]=Librecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Librecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/librecoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/librecoin128.png
MimeType=x-scheme-handler/librecoin;
Categories=Office;
